nameOverride: ""
fullnameOverride: ""

imagePullSecrets:
- name: docker-credentials

signald:
  replicaCount: 1
  image:
    repository: mobilecoin/signald
    tag: ""
  podAnnotations:
    fluentbit.io/include: 'true'
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

fullService:
  enabled: false
  replicaCount: 1
  image:
    repository: mobilecoin/full-service
    tag: ""
  podAnnotations:
    fluentbit.io/include: 'true'
  args: []
  # Example args for testnet
  # - --peer=mc://node1.test.mobilecoin.com/
  # - --peer=mc://node2.test.mobilecoin.com/
  # - --tx-source-url=https://s3-us-west-1.amazonaws.com/mobilecoin.chain/node1.test.mobilecoin.com/
  # - --tx-source-url=https://s3-us-west-1.amazonaws.com/mobilecoin.chain/node2.test.mobilecoin.com/
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  persistence:
    enabled: true
    spec:
      storageClassName: fast
      accessModes:
        - "ReadWriteOnce"
      resources:
        requests:
          storage: 512Gi

mobotClient:
  replicaCount: 1
  image:
    repository: mobilecoin/mobot
    tag: ""
  podAnnotations:
    fluentbit.io/include: 'true'
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

mobotAdmin:
  replicaCount: 1
  image:
    repository: mobilecoin/mobot
    tag: ""
  podAnnotations:
    fluentbit.io/include: 'true'
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  ingress:
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production-http

### mobot Configuration
### Configure with chart external secrets or values below
mobotConfig:
  configMap:
    external: true
    name: mobot
  secret:
    external: true
    name: mobot
  
  # These values are used when 'external: false'
  # Ingress and django ALLOW_HOSTS
  hostname: "localhost,127.0.0.1"
  # django secret key
  secretKey: ""

### Database Configuration
### Configure with chart external secrets or values below
mobotDatabase:
  secret:
    external: true
    name: mobot-postgresql
  configMap:
    external: true
    name: mobot-postgresql

  ### helm install mobot bitnami/postgresql -n <namespace> --set postgresqlDatabase=mobot
  ### For helm deployed postgres, set 'mobotDatabase.configMap.external: false'
  ### and use these values below

  # These values are used when 'external: false'
  hostname: mobot-postgresql
  password: set-by-postgres-helm-don't-need-to-change
  username: postgres
  database: mobot
  port: "5432"
  sslMode: "disable"
  sslRootCert: ""