version: "3.8"

services:
  db:
    image: postgres
    restart: always
    volumes:
    - db:/var/lib/postgresql/data
    env_file:
    - ./docker/env
    expose:
    - 5432
    networks:
      mobot:
        ipv4_address: 10.200.0.5

  signald:
    image: mobilecoin/signald:0.12.0-mc.0.0.3-staging
    volumes:
    - signald:/signald
    expose:
    - 15432
    ports:
    - "15432:15432"
    networks:
      mobot:
        ipv4_address: 10.200.0.6

  full-service:
     image: mobilecoin/full-service:v1.0.0-pre.6.testnet
     volumes:
     - full-service:/data
     tty: true
     command:
     - --peer=mc://node1.test.mobilecoin.com/
     - --peer=mc://node2.test.mobilecoin.com/
     - --tx-source-url=https://s3-us-west-1.amazonaws.com/mobilecoin.chain/node1.test.mobilecoin.com/
     - --tx-source-url=https://s3-us-west-1.amazonaws.com/mobilecoin.chain/node2.test.mobilecoin.com/
     ports:
     - "9090:9090"
     expose:
     - 9090
     networks:
       mobot:
         ipv4_address: 10.200.0.7

  admin:
    restart: always
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    entrypoint: /bin/bash /scripts/init.sh admin
    env_file:
    - ./docker/env
    volumes:
    - signald:/signald
    depends_on:
    - db
    expose:
    - 8000
    networks:
      mobot:
        ipv4_address: 10.200.0.8

  mobot-client:
    restart: always
    build: 
      context: .
      dockerfile: ./Dockerfile.dev
    entrypoint: /bin/bash /scripts/init.sh client
    env_file:
    - ./docker/env
    volumes:
    - signald:/signald
    depends_on:
    - db
    - signald
    - full-service
    - admin
    networks:
      mobot:
        ipv4_address: 10.200.0.9

volumes:
  db:
  signald:
  full-service:

networks:
  mobot:
    ipam:
      driver: default
      config:
        - subnet: 10.200.0.0/24