[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.0.4"
django-environ = "*"
python-dotenv = "0.17.1"
attrs = "*"
psycopg2 = ">=2.8.6"
uwsgi = ">= 2.0.19.1"
pyzt = "*"
mobilecoin = {editable = true, ref = "main", git = "git://github.com/mobilecoinofficial/mobilecoin-python-cli"}
django-phonenumber-field = "5.2.0"
phonenumbers = "8.12.24"
ipython = "*"
mypy-extensions = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9.5"
