version: "3.8"

services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  test:
    image: ${DOCKER_IMAGE:-mobot:latest}
    environment:
      DATABASE: postgresql
      DATABASE_HOST: db
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
    depends_on:
      db:
        condition: service_healthy
    command: python manage.py test