# This will build on merge to develop or a semver tag.
name: ci

env:
  DOCKERHUB_REPO: mobilecoin/mobot
  CHART_RELEASE_NAME: mobot

# Expected secrets.
# RANCHER_TOKEN
# DOCKERHUB_USERNAME
# DOCKERHUB_TOKEN

# Expected not-secret-secrets.
# RANCHER_URL
# STAGING_CLUSTER
# STAGING_NAMESPACE
# STAGING_VALUES
# PRODUCTION_CLUSTER
# PRODUCTION_NAMESPACE
# PRODUCTION_VALUES

on:
  push:
    tags:
    - 'v*'
    branches:
    - develop

jobs:
  docker:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Generates tags https://github.com/crazy-max/ghaction-docker-meta
    - name: Docker meta
      id: meta
      uses: crazy-max/ghaction-docker-meta@v3.1.0
      with:
        images: ${{ env.DOCKERHUB_REPO }}
        tags: |
          type=ref,event=pr,priority=30
          type=semver,pattern=v{{version}},priority=20
          type=sha,priority=10

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new

    # Temp fix
    # https://github.com/docker/build-push-action/issues/252
    # https://github.com/moby/buildkit/issues/1896
    - name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  deploy-staging:
    if: github.ref == 'refs/heads/develop'
    needs: docker
    runs-on: ubuntu-latest
    container:
      image: alpine/helm
      options: --entrypoint /bin/sh
    env:
      RANCHER_URL: ${{ secrets.RANCHER_URL }}
      RANCHER_TOKEN: ${{ secrets.RANCHER_TOKEN }}
      RANCHER_CLUSTER: ${{ secrets.STAGING_CLUSTER }}
      RANCHER_CLUSTER_NAMESPACE: ${{ secrets.STAGING_NAMESPACE }}
      CHART_PATH: ${{ env.GITHUB_WORKSPACE }}/chart
      VALUES: ${{ secrets.STAGING_VALUES }}
      TAGS: ${{ needs.docker.outputs.tags }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Deploy
      run: |
        apk add --no-cache bash curl jq
        $GITHUB_ACTION_PATH/helpers/rancher_deploy.sh

  deploy-production:
    if: startsWith(github.ref, 'refs/tags/')
    needs: docker
    runs-on: ubuntu-latest
    container:
      image: alpine/helm
      options: --entrypoint /bin/sh
    env:
      RANCHER_URL: ${{ secrets.RANCHER_URL }}
      RANCHER_TOKEN: ${{ secrets.RANCHER_TOKEN }}
      RANCHER_CLUSTER: ${{ secrets.PRODUCTION_CLUSTER }}
      RANCHER_CLUSTER_NAMESPACE: ${{ secrets.PRODUCTION_NAMESPACE }}
      CHART_PATH: ${{ env.GITHUB_WORKSPACE }}/chart
      VALUES: ${{ secrets.PRODUCTION_VALUES }}
      TAGS: ${{ needs.docker.outputs.tags }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Deploy
      run: |
        apk add --no-cache bash curl jq
        $GITHUB_ACTION_PATH/helpers/rancher_deploy.sh
